########################################################################
# Vrui configuration file for the defunct IDAV tiled stereoscopic
# display wall, remaining as a template for similar setups.
# The display wall used to be run by a cluster of seven PCs, one head
# node with a console window and six render nodes, one for each of the
# display wall's tiles. Each tile used to have two projectors with LCD
# shutters for active-stereo rendering. The tracking system was an
# InterSense IS-900 with two head trackers and one wand.
# Copyright (c) 2002-2026 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui	
	
	section elcapitan.idav.ucdavis.edu
		enableMultipipe true
		multipipeMaster elcapitan.local
		multipipeMasterPort 26000
		multipipeSlaves ("tile-top-left", \
		                 "tile-top-center", \
		                 "tile-top-right", \
		                 "tile-bottom-left", \
		                 "tile-bottom-center", \
		                 "tile-bottom-right")
		multipipeMulticastGroup 10.255.255.255
		multipipeMulticastPort 26000
		multipipePingTimeout 3.33
		multipipePingRetries 3
		inchScale 1.0
		displayCenter (0.0, 36.0, 60.0)
		displaySize 120.0
		forwardDirection (0.0, 1.0, 0.0)
		upDirection (0.0, 0.0, 1.0)
		floorPlane (0.0, 0.0, 1.0), 0.0
		glyphSize 1.5
		newInputDevicePosition (0.0, 43.0, 60.0)
		inputDeviceAdapterNames (DeviceDaemonAdapter)
		updateContinuously true
		viewerNames (Viewer, ConsoleViewer)
		screenNames (ConsoleScreen, \
		             Tile1, \
		             Tile2, \
		             Tile3, \
		             Tile4, \
		             Tile5, \
		             Tile6)
		screenProtectorAreas ( ( (-108.0, 60.0, 7.0), (108.0, 60.0, 7.0), (108.0, 60.0, 115.0), (-108.0, 60.0, 115.0) ) )
		screenProtectorDevices ( ("Head", (0.0, 0.0, 0.0), 24.0), \
		                         ("Wand", (0.0, 0.0, 0.0), 12.0), \
		                         ("Head2", (0.0, 0.0, 0.0), 24.0) )
		node0WindowNames (ConsoleWindow)
		node1WindowNames (Tile1Window)
		node2WindowNames (Tile2Window)
		node3WindowNames (Tile3Window)
		node4WindowNames (Tile4Window)
		node5WindowNames (Tile5Window)
		node6WindowNames (Tile6Window)
		frontplaneDist 1.0
		backplaneDist 10000.0
		backgroundColor (0.0, 0.0, 0.0, 1.0)
		ambientLightColor (0.1, 0.1, 0.1)
		widgetMaterial { AmbientDiffuse = (0.7, 0.7, 0.7); \
		                 Specular = (0.4, 0.4, 0.4); \
		                 Shininess = 25.0; }
		uiBgColor (0.67, 0.67, 0.67)
		uiFgColor (0.0, 0.0, 0.0)
		uiTextFieldBgColor (1.0, 1.0, 0.5)
		uiTextFieldFgColor (0.0, 0.0, 0.0)
		uiFontName CenturySchoolbookMediumUpright
		uiFontAntialiasing true
		uiSliderWidth 1.5
		rayPickAngle 1.0
		tools Tools
		uiManager UIManager
		textEntryMethod Quikwriting
		vislets Vislets
		
		section DisplayWallAdapter
			inputDeviceAdapterType DeviceDaemon
			serverName elcapitan
			serverPort 8555
			inputDeviceNames (Wand, Head, Head2)
			
			section Wand
				trackType 6D
				trackerIndex 0
				numButtons 6
				buttonIndexBase 0
				numValuators 2
				valuatorIndexBase 0
				deviceGlyphType Cone
			endsection
			
			section Head
				trackType 6D
				trackerIndex 1
			endsection
			
			section Head2
				trackType 6D
				trackerIndex 2
			endsection
		endsection
		
		section Viewer
			headTracked true
			headDevice Head
			monoEyePosition (0.0, -0.5, -1.5)
			leftEyePosition (-1.25, -0.5, -1.5)
			rightEyePosition (1.25, -0.5, -1.5)
			viewDirection (0.0, 1.0, 0.0)
			headLightEnabled true
			headLightPosition (0.0, 0.0, 0.0)
			headLightDirection (0.0, 1.0, 0.0)
			headLightColor (1.0, 1.0, 1.0)
			headLightSpotCutoff 180.0
			headLightSpotExponent 0.0
		endsection
		
		section ConsoleViewer
			headTracked false
			headDeviceTransformation translate (0.0, -24.0, 61.0)
			monoEyePosition (0.0, 0.0, 0.0)
			leftEyePosition (0.0, 0.0, 0.0)
			rightEyePosition (0.0, 0.0, 0.0)
			viewDirection (0.0, 1.0, 0.0)
			headLightEnabled false
			headLightPosition (0.0, 0.0, 0.0)
			headLightDirection (0.0, 1.0, 0.0)
			headLightColor (1.0, 1.0, 1.0)
			headLightSpotCutoff 180.0
			headLightSpotExponent 0.0
		endsection

		section ConsoleScreen
			deviceMounted false
			origin (-108.0, 60.0, 7.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 216.0
			verticalAxis (0.0, 0.0, 1.0)
			height 108.0
		endsection
		
		section Tile1
			deviceMounted false
			origin (-108.0, 60.0, 61.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 72.0
			verticalAxis (0.0, 0.0, 1.0)
			height 54.0
		endsection
		
		section Tile2
			deviceMounted false
			origin (-36.0, 60.0, 61.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 72.0
			verticalAxis (0.0, 0.0, 1.0)
			height 54.0
		endsection
		
		section Tile3
			deviceMounted false
			origin (36.0, 60.0, 61.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 72.0
			verticalAxis (0.0, 0.0, 1.0)
			height 54.0
		endsection
		
		section Tile4
			deviceMounted false
			origin (-108.0, 60.0, 7.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 72.0
			verticalAxis (0.0, 0.0, 1.0)
			height 54.0
		endsection
		
		section Tile5
			deviceMounted false
			origin (-36.0, 60.0, 7.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 72.0
			verticalAxis (0.0, 0.0, 1.0)
			height 54.0
		endsection
		
		section Tile6
			deviceMounted false
			origin (36.0, 60.0, 7.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 72.0
			verticalAxis (0.0, 0.0, 1.0)
			height 54.0
		endsection
		
		section ConsoleWindow
			windowPos (0, 0), (1200, 600)
			windowFullscreen false
			windowType Mono
			multisamplingLevel 1
			screenName ConsoleScreen
			viewerName ConsoleViewer
			showFps true
			showFpsFontName HelveticaMediumUpright12
		endsection
		
		section Tile1Window
			display :0.0
			windowPos (0, 0), (2048, 768)
			windowFullscreen false
			windowType SplitViewportStereo
			multisamplingLevel 1
			leftViewportPos (1024, 0), (1024, 768)
			rightViewportPos (0, 0), (1024, 768)
			screenName Tile1
			viewerName Viewer
		endsection
		
		section Tile2Window
			display :0.0
			windowPos (0, 0), (2048, 768)
			windowFullscreen false
			windowType SplitViewportStereo
			multisamplingLevel 1
			leftViewportPos (1024, 0), (1024, 768)
			rightViewportPos (0, 0), (1024, 768)
			screenName Tile2
			viewerName Viewer
		endsection
		
		section Tile3Window
			display :0.0
			windowPos (0, 0), (2048, 768)
			windowFullscreen false
			windowType SplitViewportStereo
			multisamplingLevel 1
			leftViewportPos (1024, 0), (1024, 768)
			rightViewportPos (0, 0), (1024, 768)
			screenName Tile3
			viewerName Viewer
		endsection
		
		section Tile4Window
			display :0.0
			windowPos (0, 0), (2048, 768)
			windowFullscreen false
			windowType SplitViewportStereo
			multisamplingLevel 1
			leftViewportPos (1024, 0), (1024, 768)
			rightViewportPos (0, 0), (1024, 768)
			screenName Tile4
			viewerName Viewer
		endsection
		
		section Tile5Window
			display :0.0
			windowPos (0, 0), (2048, 768)
			windowFullscreen false
			windowType SplitViewportStereo
			multisamplingLevel 1
			leftViewportPos (1024, 0), (1024, 768)
			rightViewportPos (0, 0), (1024, 768)
			screenName Tile5
			viewerName Viewer
		endsection
		
		section Tile6Window
			display :0.0
			windowPos (0, 0), (2048, 768)
			windowFullscreen false
			windowType SplitViewportStereo
			multisamplingLevel 1
			leftViewportPos (1024, 0), (1024, 768)
			rightViewportPos (0, 0), (1024, 768)
			screenName Tile6
			viewerName Viewer
		endsection
		
		section UIManager
			type Free
		endsection
		
		section Tools
			toolClassNames (SixDofLocatorTool, \
			                WaldoLocatorTool, \
			                SixDofDraggingTool, \
			                WaldoDraggingTool, \
			                WalkSurfaceNavigationTool, \
			                ValuatorWalkSurfaceNavigationTool, \
			                SixDofNavigationTool, \
			                ScaleNavigationTool, \
			                WandNavigationTool, \
			                TwoHandedNavigationTool, \
			                ValuatorFlyTurnNavigationTool, \
			                WalkNavigationTool, \
			                ComeHitherNavigationTool, \
			                ForceJumpNavigationTool, \
			                ViewpointFileNavigationTool, \
			                ToggleButtonTool, \
			                ButtonToValuatorTool, \
			                ValuatorToButtonTool, \
			                OrientationSnapperTool, \
			                EyeRayTool, \
			                OffsetTool, \
			                WaldoTool, \
			                ClutchTool, \
			                ShiftButtonTool, \
			                MultiShiftButtonTool, \
			                RevolverTool, \
			                PanelButtonTool, \
			                RayMenuTool, \
			                SixDofInputDeviceTool, \
			                PlaneSnapInputDeviceTool, \
			                WidgetTool, \
			                ScrollTool, \
			                QuikWriteTool, \
			                LaserpointerTool, \
			                FlashlightTool, \
			                ClipPlaneTool, \
			                JediTool, \
			                MeasurementTool, \
			                SketchingTool, \
			                AnnotationTool, \
			                CurveEditorTool, \
			                ScreenshotTool, \
			                ConsoleCommandTool, \
			                NopTool)
			toolSelectionMenuToolClass RayMenuTool
			killZoneType Box
			killZoneBaseDevice Head
			killZoneCenter (20.0, 0.0, 0.0)
			killZoneSize (20.0, 20.0, 20.0)
			killZoneRender false
			killZoneMaterial { AmbientDiffuse = (1.0, 0.0, 0.0); \
			                   Specular = (0.2, 0.2, 0.2); \
			                   Shininess = 20.0; }
			defaultTools DefaultTools
			
			section WalkSurfaceNavigationTool
				centerOnActivation true
				centerPoint (0.0, -12.0, 0.0)
				moveSpeed 180.0
				innerRadius 18.0
				outerRadius 30.0
			endsection
			
			section WalkNavigationTool
				centerOnActivation true
				centerPoint (0.0, -12.0, 0.0)
				moveSpeed 180.0
				innerRadius 18.0
				outerRadius 30.0
			endsection
			
			section ValuatorFlyTurnNavigationTool
				valuatorExponent 2.0
				flyFactor 120.0
				rotationAxisDeviceCoordinates false
				rotationAxis (0.0, 0.0, 1.0)
				rotationCenterDeviceCoordinates false
				rotationCenter (0.0, 36.0, 0.0)
			endsection
			
			section RayMenuTool
				interactWithWidgets true
			endsection
			
			section MeasurementTool
				saveMeasurements true
			endsection
			
			section ScreenshotTool
				windowIndex 0
				screenSize 12.0
				horizontal (1.0, 0.0, 0.0)
				vertical (0.0, 1.0, 0.0)
				useMainViewer true
			endsection
			
			section DefaultTools
				section WandNavTool1
					toolClass WandNavigationTool
					bindings ((Wand, Button1, Button0))
				endsection
				
				section WandNavTool2
					toolClass ValuatorFlyTurnNavigationTool
					bindings ((Wand, Valuator1, Valuator0))
				endsection
				
				section WandMenuTool
					toolClass RayMenuTool
					bindings ((Wand, Button0))
				endsection
			endsection
		endsection
	endsection

endsection
