########################################################################
# Vrui configuration file for the defunct KeckCAVES 4-sided CAVE,
# remaining as a template for similar setups.
# The CAVE used to be run by a cluster of six PCs, one head node with a
# console window, four render nodes, one for each of the CAVE's four
# screens, and an audio node connected to the CAVE's surround sound
# system. The tracking system used to be an InterSense IS-900 with one
# head tracker and two wands.
# Copyright (c) 2002-2026 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui
	
	section caveman.geology.ucdavis.edu
		enableMultipipe true
		multipipeMaster 192.168.2.1
		multipipeMasterPort 26000
		# multipipeSlaves (r1, r2, r3, r4, r5)
		multipipeSlaves (r1, r2, r3, r4)
		multipipeMulticastGroup 192.168.2.255
		multipipeMulticastPort 26000
		multipipePingTimeout 3.33
		multipipePingRetries 3
		multipipeSendBufferSize 24
		inchScale 1.0
		displayCenter (0.0, 24.0, 48.0)
		displaySize 48.0
		forwardDirection (0.0, 1.0, 0.0)
		upDirection (0.0, 0.0, 1.0)
		floorPlane (0.0, 0.0, 1.0), 0.0
		glyphSize 1.5
		newInputDevicePosition (0.0, 24.0, 48.0)
		inputDeviceAdapterNames (DeviceDaemonAdapter)
		updateContinuously false
		viewerNames (Viewer, ConsoleViewer)
		listenerNames (Listener)
		screenNames (ConsoleScreen, \
		             Wall1, \
		             Wall2, \
		             Wall3, \
		             Wall4)
		screenProtectorDevices ( ("Head", (0.0, 0.0, 0.0), 24.0), \
		                         ("Wand", (0.0, 0.0, 0.0), 12.0), \
		                         ("Wand2", (0.0, 0.0, 0.0), 12.0) )
		node0WindowNames (ConsoleWindow)
		node1WindowNames (Wall1Window)
		node2WindowNames (Wall2Window)
		node3WindowNames (Wall3Window)
		node4WindowNames (Wall4Window)
		node5WindowNames ()
		node5SoundContextName SoundContext
		frontplaneDist 2.0
		backplaneDist 10000.0
		backgroundColor (0.0, 0.0, 0.0, 1.0)
		ambientLightColor (0.1, 0.1, 0.1)
		widgetMaterial { AmbientDiffuse = (0.7, 0.7, 0.7); \
		                 Specular = (0.4, 0.4, 0.4); \
		                 Shininess = 25.0; }
		uiBgColor (0.67, 0.67, 0.67)
		uiFgColor (0.0, 0.0, 0.0)
		uiTextFieldBgColor (1.0, 1.0, 0.5)
		uiTextFieldFgColor (0.0, 0.0, 0.0)
		uiFontName CenturySchoolbookMediumUpright
		uiFontTextHeight 1.0
		uiFontAntialiasing true
		rayPickAngle 1.0
		tools Tools
		uiManager UIManager
		textEntryMethod Quikwriting
		vislets Vislets
		
		section DeviceDaemonAdapter
			inputDeviceAdapterType DeviceDaemon
			serverName caveman
			serverPort 8555
			inputDeviceNames (Head, Wand, Wand2)
			
			section Wand
				deviceGlyphType Cone
			endsection
			
			section Wand2
				deviceGlyphType Cone
			endsection
		endsection
		
		section Viewer
			headTracked true
			headDevice Head
			headDeviceTransformation translate (0.0, -48.0, 60.0)
			viewDirection (0.0, 1.0, 0.0)
			monoEyePosition (0.0, -1.5, -1.0)
			leftEyePosition (-1.25, -1.5, -1.0)
			rightEyePosition (1.25, -1.5, -1.0)
			headLightEnabled true
			headLightPosition (0.0, -1.5, -1.0)
			headLightDirection (0.0, 1.0, 0.0)
			headLightColor (1.0, 1.0, 1.0)
			headLightSpotCutoff 180.0
			headLightSpotExponent 0.0
		endsection
		
		section ConsoleViewer
			headTracked false
			headDeviceTransformation translate (0.0, -128.0, 48.0)
			viewDirection (0.0, 1.0, 0.0)
			monoEyePosition (0.0, 0.0, 0.0)
			leftEyePosition (-1.25, 0.0, 0.0)
			rightEyePosition (1.25, 0.0, 0.0)
			headLightEnabled false
			headLightPosition (0.0, 0.0, 0.0)
			headLightDirection (0.0, 1.0, 0.0)
			headLightColor (1.0, 1.0, 1.0)
			headLightSpotCutoff 180.0
			headLightSpotExponent 0.0
		endsection
		
		section Listener
			headTracked false
			headDeviceTransformation translate (0.0, 0.0, 48.0)
			headPosition (0.0, 0.0, 0.0)
			listenDirection (0.0, 1.0, 0.0)
			upDirection (0.0, 0.0, 1.0)
			gain 1.0
		endsection
		
		section ConsoleScreen
			deviceMounted false
			origin (-8.0, -104.0, 42.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 16.0
			verticalAxis (0.0, 0.0, 1.0)
			height 12.0
		endsection
		
		section Wall1
			deviceMounted false
			origin (-60.0, -60.0, 0.0)
			horizontalAxis (0.0, 1.0, 0.0)
			width 120.0
			verticalAxis (0.0, 0.0, 1.0)
			height 96.0
			protectScreen true
		endsection
		
		section Wall2
			deviceMounted false
			origin (-60.0, 60.0, 0.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 120.0
			verticalAxis (0.0, 0.0, 1.0)
			height 96.0
			protectScreen true
		endsection
		
		section Wall3
			deviceMounted false
			origin (60.0, 60.0, 0.0)
			horizontalAxis (0.0, -1.0, 0.0)
			width 120.0
			verticalAxis (0.0, 0.0, 1.0)
			height 96.0
			protectScreen true
		endsection
		
		section Wall4
			deviceMounted false
			origin (-60.0, -36.0, 0.0)
			horizontalAxis (1.0, 0.0, 0.0)
			width 120.0
			verticalAxis (0.0, 1.0, 0.0)
			height 96.0
			protectScreen true
		endsection
		
		section ConsoleWindow
			windowSize (800, 600)
			windowFullscreen false
			windowType Mono
			multisamplingLevel 1
			screenName ConsoleScreen
			viewerName ConsoleViewer
			showFps true
			showFpsFontName HelveticaMediumUpright12
		endsection
		
		section Wall1Window
			display :0.0
			windowPos (0, 0), (1280, 1024)
			windowType QuadbufferStereo
			# multisamplingLevel 8
			screenName Wall1
			viewerName Viewer
		endsection
		
		section Wall2Window
			display :0.0
			windowPos (0, 0), (1280, 1024)
			windowType QuadbufferStereo
			# multisamplingLevel 8
			screenName Wall2
			viewerName Viewer
		endsection
		
		section Wall3Window
			display :0.0
			windowPos (0, 0), (1280, 1024)
			windowType QuadbufferStereo
			# multisamplingLevel 8
			screenName Wall3
			viewerName Viewer
		endsection
		
		section Wall4Window
			display :0.0
			windowPos (0, 0), (1280, 1024)
			windowType QuadbufferStereo
			# multisamplingLevel 8
			screenName Wall4
			viewerName Viewer
		endsection
		
		section SoundContext
			listenerName Listener
			deviceName Default
			distanceAttenuationModel Constant
			# distanceAttenuationModel InverseClamped
		endsection
		
		section Tools
			toolClassNames (SixDofLocatorTool, \
			                WaldoLocatorTool, \
			                SixDofDraggingTool, \
			                WaldoDraggingTool, \
			                WalkSurfaceNavigationTool, \
			                ValuatorWalkSurfaceNavigationTool, \
			                SixDofNavigationTool, \
			                ScaleNavigationTool, \
			                WandNavigationTool, \
			                TwoHandedNavigationTool, \
			                ValuatorFlyTurnNavigationTool, \
			                WalkNavigationTool, \
			                ComeHitherNavigationTool, \
			                ForceJumpNavigationTool, \
			                ViewpointFileNavigationTool, \
			                ToggleButtonTool, \
			                ButtonToValuatorTool, \
			                ValuatorToButtonTool, \
			                OrientationSnapperTool, \
			                EyeRayTool, \
			                OffsetTool, \
			                WaldoTool, \
			                ClutchTool, \
			                ShiftButtonTool, \
			                MultiShiftButtonTool, \
			                RevolverTool, \
			                PanelButtonTool, \
			                RayMenuTool, \
			                SixDofInputDeviceTool, \
			                PlaneSnapInputDeviceTool, \
			                WidgetTool, \
			                ScrollTool, \
			                QuikWriteTool, \
			                LaserpointerTool, \
			                FlashlightTool, \
			                ClipPlaneTool, \
			                JediTool, \
			                MeasurementTool, \
			                SketchingTool, \
			                AnnotationTool, \
			                CurveEditorTool, \
			                ScreenshotTool, \
			                ConsoleCommandTool, \
			                NopTool)
			toolSelectionMenuToolClass RayMenuTool
			killZoneType Box
			killZoneBaseDevice Head
			killZoneCenter (20.0, 0.0, 0.0)
			killZoneSize (20.0, 20.0, 20.0)
			killZoneRender false
			killZoneMaterial { AmbientDiffuse = (1.0, 0.0, 0.0); \
			                   Specular = (0.2, 0.2, 0.2); \
			                   Shininess = 20.0; }
			defaultTools DefaultTools
			
			section WalkSurfaceNavigationTool
				centerPoint (0.0, -12.0, 0.0)
				moveSpeed 180.0
				innerRadius 18.0
				outerRadius 30.0
			endsection
			
			section ValuatorWalkSurfaceNavigationTool
				centerPoint (0.0, -12.0, 0.0)
				moveSpeed 180.0
				valuatorMoveSpeed (180.0, 180.0)
				valuatorViewFollowFactor 1.0
				valuatorSnapRotate false
				valuatorRotateSpeed 180.0
				innerRadius 18.0
				outerRadius 30.0
			endsection
			
			section WalkNavigationTool
				centerPoint (0.0, -12.0, 0.0)
				moveSpeed 180.0
				innerRadius 18.0
				outerRadius 30.0
			endsection
			
			section ValuatorFlyTurnNavigationTool
				valuatorExponent 2.0
				flyFactor 120.0
				rotationAxisDeviceCoordinates false
				rotationAxis (0.0, 0.0, 1.0)
				rotationCenterDeviceCoordinates false
				rotationCenter (0.0, 0.0, 0.0)
			endsection
			
			section RayMenuTool
				interactWithWidgets false
			endsection
			
			section MeasurementTool
				saveMeasurements true
			endsection
			
			section ScreenshotTool
				windowIndex 0
				screenSize 12.0
				horizontal (1.0, 0.0, 0.0)
				vertical (0.0, 1.0, 0.0)
				useMainViewer true
			endsection
			
			section DefaultTools
				section WandNavTool1
					toolClass WandNavigationTool
					bindings ((Wand, 1, 2))
				endsection
				
				section WandNavTool2
					toolClass ValuatorFlyTurnNavigationTool
					bindings ((Wand, StickY, StickX))
				endsection
				
				section WandUITool1
					toolClass WidgetTool
					bindings ((Wand, 2))
				endsection
				
				section WandMenuTool1
					toolClass RayMenuTool
					bindings ((Wand, 2))
				endsection
				
				section WandNavTool3
					toolClass WandNavigationTool
					bindings ((Wand2, Red, Yellow))
				endsection
				
				section WandNavTool4
					toolClass ValuatorFlyTurnNavigationTool
					bindings ((Wand2, StickY, StickX))
				endsection
				
				section WandUITool2
					toolClass WidgetTool
					bindings ((Wand2, Yellow))
				endsection
				
				section WandMenuTool2
					toolClass RayMenuTool
					bindings ((Wand2, Yellow))
				endsection
			endsection
		endsection
		
		section UIManager
			type Free
		endsection
		
		section Vislets
			section CAVERenderer
				alignToEnvironment false
				surfaceMaterial {AmbientDiffuse = (1.0, 1.0, 1.0); \
				                 Specular = (0.0, 0.0, 0.0); \
				                 Shininess = 0.0;}
				tilesPerFoot 12
				wallTextureFileName /shared/Data/ImageData/KeckCAVESWall.png
				floorTextureFileName /shared/Data/ImageData/KeckCAVESFloor.png
			endsection
		endsection
	endsection

endsection
