########################################################################
# Vrui configuration file for the defunct IDAV low-cost VR environment,
# remaining as a template for similar setups.
# The low-cost VR environment consisted of an active-stereo "wobulation"
# 3D TV with IR-controlled active stereo glasses, a Nintendo Wiimote as
# hand-held input device, and a NaturalPoint OptiTrack system with three
# cameras to track the stereo glasses and the Wiimote.
# Copyright (c) 2002-2026 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui	
	
	section 3dtv.idav.ucdavis.edu
		inchScale 1.0
		displayCenter (0.0, 0.0, 47.0)
		displaySize 36.0
		forwardDirection (0.0, 1.0, 0.0)
		upDirection (0.0, 0.0, 1.0)
		floorPlane (0.0, 0.0, 1.0), 0.0
		glyphSize 1.5
		newInputDevicePosition (0.0, -12.0, 47.0)
		inputDeviceAdapterNames (MouseAdapter, DeviceDaemonAdapter)
		updateContinuously false
		viewerNames (Viewer)
		listenerNames (Listener)
		screenNames (Screen)
		screenProtectorDevices ( ("Wand", (0.0, 0.0, 0.0), 6.0) )
		screenProtectorGridSpacing 6.0
		windowNames (Window)
		soundContextName SoundContext
		frontplaneDist 1.0
		backplaneDist 10000.0
		backgroundColor (0.0, 0.0, 0.0, 1.0)
		ambientLightColor (0.1, 0.1, 0.1)
		drawOverlayWidgets false
		widgetMaterial { AmbientDiffuse = (0.7, 0.7, 0.7); \
		                 Specular = (0.4, 0.4, 0.4); \
		                 Shininess = 25.0; }
		uiBgColor (0.67, 0.67, 0.67)
		uiFgColor (0.0, 0.0, 0.0)
		uiTextFieldBgColor (1.0, 1.0, 0.5)
		uiTextFieldFgColor (0.0, 0.0, 0.0)
		uiFontName TimesBoldUpright12
		uiFontTextHeight 0.6
		uiFontAntialiasing true
		rayPickAngle 1.0
		tools Tools
		uiManager UIManager
		textEntryMethod Quikwriting
		vislets Vislets
		
		section MouseAdapter
			inputDeviceAdapterType Mouse
			numButtons 3
			buttonKeys (Space, LeftShift, z, x, c, v, b, n, m, comma, period, slash, RightShift, \
			            a, s, d, f, g, h, j, k, l, semicolon, apostrophe, Return, \
			            Tab, q, w, e, r, t, y, u, i, o, p, bracketleft, bracketright, \
			            grave, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, minus, equal, \
			            Num0, Num1, Num2, Num3, Num4, Num5, Num6, Num7, Num8, Num9, NumEnter)
			modifierKeys (LeftCtrl, LeftAlt)
		endsection
		
		section DeviceDaemonAdapter
			inputDeviceAdapterType DeviceDaemon
			serverName 3dtv
			serverPort 8555
			inputDeviceNames (Head, Wand)
			
			section Wand
				deviceGlyphType Cone
			endsection
		endsection

		section Viewer
			headTracked true
			headDevice Head
			headDeviceTransformation translate (0.0, -48.0, 60.0)
			viewDirection (0.0, 1.0, 0.0)
			monoEyePosition (0.1, -1.5, -1.5)
			leftEyePosition (-1.15, -1.5, -1.5)
			rightEyePosition (1.35, -1.5, -1.5)
			headLightEnabled true
			headLightPosition (0.1, -1.5, -1.5)
			headLightDirection (0.0, 1.0, 0.0)
			headLightColor (1.0, 1.0, 1.0)
			headLightSpotCutoff 180.0
			headLightSpotExponent 0.0
		endsection
		
		section Listener
			headTracked true
			headDevice Head
			headDeviceTransformation translate (0.0, -24.0, 0.0)
			headPosition (0.0, -3.0, -2.0)
			listenDirection (0.0, 1.0, 0.0)
			upDirection (0.0, 0.0, 1.0)
			gain 1.0
		endsection
		
		section Screen
			deviceMounted false
			origin (-31.638, 0.151329, 29.0991)
			horizontalAxis (1, -0.000486263, -0.000351728)
			width 63.277
			verticalAxis (0.00034805, -0.00754295, 0.999971)
			height 35.7028
			offAxis true
			homography ( ( 31.7043, 0.00439951, -0.000280895 ), \
			             ( 0.16926, 18.0794, 0.00544898 ), \
			             ( 31.6448, 17.8926, 1 ) )
			protectScreen true
		endsection
		
		section Window
			display :0.1
			windowFullscreen true
			windowType InterleavedViewportStereo
			multisamplingLevel 1
			screenName Screen
			viewerName Viewer
			toolKillZonePos (1, 0)
			showFps true
			showFpsFontName HelveticaMediumUpright12
		endsection
		
		section SoundContext
			listenerName Listener
			deviceName Default
			distanceAttenuationModel InverseClamped
		endsection
		
		section UIManager
			type Free
		endsection
		
		section Tools
			toolClassNames (SixDofLocatorTool, \
			                WaldoLocatorTool, \
			                ScreenLocatorTool, \
			                SixDofDraggingTool, \
			                WaldoDraggingTool, \
			                MouseSurfaceNavigationTool, \
			                FPSNavigationTool, \
			                HelicopterNavigationTool, \
			                WalkSurfaceNavigationTool, \
			                ValuatorWalkSurfaceNavigationTool, \
			                MouseNavigationTool, \
			                MouseDialogNavigationTool, \
			                SixDofNavigationTool, \
			                ScaleNavigationTool, \
			                WandNavigationTool, \
			                TwoHandedNavigationTool, \
			                ValuatorFlyTurnNavigationTool, \
			                ComeHitherNavigationTool, \
			                ForceJumpNavigationTool, \
			                ViewpointFileNavigationTool, \
			                MouseTool, \
			                ToggleButtonTool, \
			                ButtonToValuatorTool, \
			                ValuatorToButtonTool, \
			                OrientationSnapperTool, \
			                TwoRayTransformTool, \
			                SixAxisTransformTool, \
			                EyeRayTool, \
			                OffsetTool, \
			                WaldoTool, \
			                ClutchTool, \
			                ShiftButtonTool, \
			                MultiShiftButtonTool, \
			                RevolverTool, \
			                PanelButtonTool, \
			                RayMenuTool, \
			                RayInputDeviceTool, \
			                ButtonInputDeviceTool, \
			                SixAxisInputDeviceTool, \
			                SixDofInputDeviceTool, \
			                PlaneSnapInputDeviceTool, \
			                WidgetTool, \
			                ScrollTool, \
			                QuikWriteTool, \
			                LaserpointerTool, \
			                FlashlightTool, \
			                ClipPlaneTool, \
			                JediTool, \
			                MeasurementTool, \
			                SketchingTool, \
			                AnnotationTool, \
			                CurveEditorTool, \
			                ConsoleCommandTool, \
			                NopTool)
			toolSelectionMenuToolClass RayMenuTool
			killZoneType Frustum
			killZoneViewerName Viewer
			killZoneScreenName Screen
			killZoneCenter (0.0, 0.0, 0.0)
			killZoneSize (6.0, 3.0, 0.0)
			killZoneRender true
			killZoneMaterial { AmbientDiffuse = (1.0, 0.0, 0.0); \
			                   Specular = (0.2, 0.2, 0.2); \
			                   Shininess = 20.0; }
			defaultTools DefaultTools
			
			section MouseNavigationTool
				spinThreshold 0.5
			endsection
			
			section MouseSurfaceNavigationTool
				throwThreshold 1.0
			endsection
			
			section ValuatorFlyTurnNavigationTool
				valuatorExponent 1.5
				rotationAxis (0.0, 0.0, 1.0)
				rotationAxisDeviceCoordinates false
				rotationCenter (0.0, -24.0, 0.0)
				rotationCenterDeviceCoordinates false
			endsection
			
			section MeasurementTool
				saveMeasurements true
			endsection
			
			section DefaultTools
				section MouseGuiTool
					toolClass WidgetTool
					bindings ((Mouse, Mouse1))
				endsection

				section MouseScrollTool
					toolClass ScrollTool
					bindings ((Mouse, MouseWheel))
				endsection
				
				section MouseNavTool
					toolClass MouseNavigationTool
					bindings ((Mouse, Mouse1, z, LeftShift, MouseWheel))
				endsection
				
				section FPSNavTool
					toolClass FPSNavigationTool
					bindings ((Mouse, q, a, d, s, w, Space))
				endsection
				
				section MenuTool1
					toolClass RayMenuTool
					bindings ((Mouse, Mouse3))
				endsection
				
				section WandNavTool1
					toolClass WandNavigationTool
					bindings ((Wand, A, DDown))
				endsection
				
				section WandNavTool2
					toolClass ValuatorFlyTurnNavigationTool
					bindings ((Wand, StickY, StickX))
				endsection
				
				section WandUITool
					toolClass WidgetTool
					bindings ((Wand, DDown))
				endsection
				
				section WandMenuTool
					toolClass RayMenuTool
					bindings ((Wand, DDown))
				endsection
			endsection
		endsection
	endsection

endsection
