########################################################################
# Vrui configuration file for an Oculus Rift DK2. Mostly for
# informational purposes at this point, I guess. :)
# Copyright (c) 2015-2026 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui
	
	section RiftDK2
		inhibitScreenSaver true
		inchScale 1.0
		displayCenter (0.0, 0.0, 40.0)
		displaySize 36.0
		forwardDirection (0.0, 1.0, 0.0)
		upDirection (0.0, 0.0, 1.0)
		floorPlane (0.0, 0.0, 1.0), 0.0
		glyphSize 1.5
		newInputDevicePosition (0.0, -6.0, 40.0)
		inputDeviceAdapterNames (MouseAdapter, OVRDAdapter)
		updateContinuously true
		viewerNames (HMDViewer)
		screenNames (HMDLeftScreen, HMDRightScreen, MouseScreen)
		windowNames (HMDWindow)
		listenerNames (HMDListener)
		soundContextName SoundContext
		frontplaneDist 3.0
		backplaneDist 100000.0
		backgroundColor (0.0, 0.0, 0.0, 1.0)
		ambientLightColor (0.1, 0.1, 0.1)
		widgetMaterial { AmbientDiffuse = (0.7, 0.7, 0.7); \
		                 Specular = (0.4, 0.4, 0.4); \
		                 Shininess = 25.0; }
		drawOverlayWidgets false
		uiBgColor (0.67, 0.67, 0.67)
		uiFgColor (0.0, 0.0, 0.0)
		uiTextFieldBgColor (1.0, 1.0, 0.5)
		uiTextFieldFgColor (0.0, 0.0, 0.0)
		uiFontName TimesBoldUpright12
		uiFontTextHeight 0.6
		uiFontAntialiasing true
		animationFrameInterval 0.01333
		uiManager UIManager
		tools Tools
		vislets Vislets
		
		section MouseAdapter
			inputDeviceAdapterType Mouse
			numButtons 3
			buttonKeys (Space, LeftShift, z, x, c, v, b, n, m, comma, period, slash, RightShift, \
			            a, s, d, f, g, h, j, k, l, semicolon, apostrophe, Return, \
			            Tab, q, w, e, r, t, y, u, i, o, p, bracketleft, bracketright, \
			            grave, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, minus, equal, \
			            Num0, Num1, Num2, Num3, Num4, Num5, Num6, Num7, Num8, Num9, NumEnter)
			modifierKeys (LeftAlt, LeftCtrl)
			fakeMouseCursor true
			
			# A timeout after which the mouse cursor becomes invisible until the mouse is moved again
			mouseIdleTimeout 10.0
		endsection
		
		section OVRDAdapter
			inputDeviceAdapterType OVRD
			name Head
			
			# Transformation from tracking camera coordinates to Vrui physical coordinates.
			# Tracking camera space has the origin 1m directly in front of the camera,
			# has X facing to the user's right, Y facing up, and Z facing towards the user.
			# Vrui physical space, as configured here, has the origin on the real floor directly
			# underneath the camera, X facing right, Y facing towards the camera, and Z facing up.
			# If the translation's z component matches the camera's height above the real floor, the
			# z=0 plane in physical space (configured by floorPlane above) matches the real floor.
			cameraTransform translate (0.0, -39.37, 50.0) * rotate (1.0, 0.0, 0.0), 90.0
			
			# Move origin of reported head transformation to center of screen, and rotate so that X faces right and Z faces up:
			postTransform rotate (1.0, 0.0, 0.0), -90.0 * translate (2.475591, 0.0, 1.392520)
		endsection
		
		section HMDViewer
			headTracked true
			headDevice Head
			viewDirection (0.0, 1.0, 0.0)
			
			# Eye positions depend on eye relief and viewer's IPD
			monoEyePosition (0.0, -2.2, 0.0)
			leftEyePosition (-1.25, -2.2, 0.0)
			rightEyePosition (1.25, -2.2, 0.0)
			
			headLightEnabled true
			headLightColor (1.0, 1.0, 1.0)
			headLightSpotCutoff 180.0
			headLightSpotExponent 0.0
		endsection
		
		section HMDLeftScreen
			# Left half of DK2's display
			deviceMounted true
			deviceName Head
			origin (-2.475591, 0.0, -1.392520)
			width 2.475591
			height 2.785040
			horizontalAxis (1.0, 0.0, 0.0)
			verticalAxis (0.0, 0.0, 1.0)
		endsection
		
		section HMDRightScreen
			# Right half of DK2's display
			deviceMounted true
			deviceName Head
			origin (0.000000, 0.0, -1.392520)
			width 2.475591
			height 2.785040
			horizontalAxis (1.0, 0.0, 0.0)
			verticalAxis (0.0, 0.0, 1.0)
		endsection
		
		section MouseScreen
			# Additional screen used to map the mouse into 3D space
			origin (-50.0, 0.0, 25.5)
			horizontalAxis (1.0, 0.0, 0.0)
			width 100.0
			verticalAxis (0.0, 0.0, 1.0)
			height 50.0
		endsection
		
		section HMDListener
			headTracked true
			headDevice Head
			headPosition (0.0, 0.0, 0.0)
			listenDirection (0.0, 1.0, 0.0)
			upDirection (0.0, 0.0, 1.0)
			gain 1.0
		endsection
		
		section HMDWindow
			viewerName HMDViewer
			leftScreenName HMDLeftScreen
			rightScreenName HMDRightScreen
			
			outputName Rift DK2
			windowSize (1080, 1920)
			decorate false
			bypassCompositor true
			vsync true
			lowLatency true
			useBackBuffer true
			
			windowType SplitViewportStereo
			leftViewportPos (0, 0), (1080, 960)
			rightViewportPos (0, 960), (1080,960)
			
			# multisamplingLevel 32
			
			lensCorrectorName LensCorrector
			mouseScreenName MouseScreen
			
			section LensCorrector
				lensCenterDist 2.5
				lensScreenDist 1.3
				lensFocalLength 1.417323
				lensProjectionDist 51.1811023622
				
				leftFormulaNames (GreenFormula, RedFormula, BlueFormula)
				leftOverscan (0.42, 0.52, 0.55, 0.55)
				
				rightFormulaNames (GreenFormula, RedFormula, BlueFormula)
				rightOverscan (0.52, 0.42, 0.55, 0.55)
				
				# projectScreens true
				
				# Rotate display by 90 degrees to account for Rift DK2's rotated screen
				displayRotation 90.0
				
				# Adjust supersampling factor to tweak image quality
				superSampling 1.0
				
				# Enable reprojection for reduced perceived latency
				# warpReproject true
				
				# Enable cubic filtering during image warping for potentially increased image quality
				# warpCubicLookup true
				
				# Black smear correction; disable fixContrast to get true blacks(tm)
				oledCorrectionFactors (0.1, 0.05)
				# fixContrast false
				
				section GreenFormula
					type CatmullRomSpline
					r2Max 1.0
					coefficients (1.003, 1.02, 1.042, 1.066, 1.094, 1.126, 1.162, 1.203, 1.25, 1.31, 1.38)
				endsection
				
				section RedFormula
					type Polynomial
					coefficients (-0.015, -0.02) # From firmware
					# coefficients (-0.005, -0.02) # Hand-tuned by me
				endsection
				
				section BlueFormula
					type Polynomial
					coefficients (0.025, 0.02) # From firmware
					# coefficients (0.015, 0.02) # Hand-tuned by me
				endsection
			endsection
		endsection
		
		section SoundContext
			deviceName Default
			listenerName HMDListener
			mixerFrequency 44100
			distanceAttenuationModel InverseClamped
		endsection
		
		section UIManager
			type Spherical
			sphereCenter (0.0, -39.37, 50.0)
			alignSecant true
			constrainMovement true
		endsection
		
		section Tools
			toolClassNames (SixDofLocatorTool, \
			                ScreenLocatorTool, \
			                WaldoLocatorTool, \
			                SixDofDraggingTool, \
			                WaldoDraggingTool, \
			                MouseSurfaceNavigationTool, \
			                FPSNavigationTool, \
			                FiveAxisSurfaceNavigationTool, \
			                SixAxisSurfaceNavigationTool, \
			                HelicopterNavigationTool, \
			                WalkSurfaceNavigationTool, \
			                ValuatorWalkSurfaceNavigationTool, \
			                WalkNavigationTool, \
			                MouseNavigationTool, \
			                MouseDialogNavigationTool, \
			                SixAxisNavigationTool, \
			                SixDofNavigationTool, \
			                ComeHitherNavigationTool, \
			                ForceJumpNavigationTool, \
			                ViewpointFileNavigationTool, \
			                MouseTool, \
			                ToggleButtonTool, \
			                ButtonToValuatorTool, \
			                ValuatorToButtonTool, \
			                OrientationSnapperTool, \
			                TwoRayTransformTool, \
			                SixAxisTransformTool, \
			                EyeRayTool, \
			                OffsetTool, \
			                WaldoTool, \
			                ClutchTool, \
			                ShiftButtonTool, \
			                MultiShiftButtonTool, \
			                RevolverTool, \
			                PanelButtonTool, \
			                RayMenuTool, \
			                RayInputDeviceTool, \
			                ButtonInputDeviceTool, \
			                SixAxisInputDeviceTool, \
			                SixDofInputDeviceTool, \
			                PlaneSnapInputDeviceTool, \
			                WidgetTool, \
			                ScrollTool, \
			                QuikWriteTool, \
			                LaserpointerTool, \
			                FlashlightTool, \
			                ClipPlaneTool, \
			                JediTool, \
			                MeasurementTool, \
			                SketchingTool, \
			                AnnotationTool, \
			                CurveEditorTool, \
			                ScreenshotTool, \
			                ConsoleCommandTool)
			toolSelectionMenuToolClass RayMenuTool
			killZoneType Frustum
			killZoneViewerName HMDViewer
			killZoneScreenName MouseScreen
			killZoneCenter (38.0, 6.0, 26.0)
			killZoneSize (6.0, 3.0, 0.0)
			killZoneRender true
			killZoneMaterial { AmbientDiffuse = (1.0, 0.0, 0.0); \
			                   Specular = (0.2, 0.2, 0.2); \
			                   Shininess = 20.0; }
			defaultTools DefaultTools
			
			section MouseSurfaceNavigationTool
				rotateFactor 12.0
				scaleFactor 12.0
				throwThreshold 0.5
			endsection
			
			section FPSNavigationTool
				rotateFactors (48.0, 0.0)
				hudDist 144.0
				hudRadius 72.0
				hudFontSize 2.0
			endsection
			
			section WalkSurfaceNavigationTool
				centerPoint (0.0, -39.37, 0.0)
				moveSpeed 200.0
				innerRadius 18.0
				outerRadius 36.0
				rotateSpeed 180.0
				innerAngle 45.0
				outerAngle 135.0
				drawMovementCircles true
				hudFontSize 0.9
			endsection
			
			section ValuatorWalkSurfaceNavigationTool
				centerPoint (0.0, -39.37, 0.0)
				moveSpeed 200.0
				valuatorMoveSpeed (200.0, 200.0)
				innerRadius 18.0
				outerRadius 36.0
				rotateSpeed 180.0
				innerAngle 45.0
				outerAngle 135.0
				drawMovementCircles true
				hudRadius 144.0
				hudFontSize 2.0
			endsection
			
			section MouseNavigationTool
				rotatePlaneOffset 18.0
				rotateFactor 24.0
				scaleFactor 12.0
				spinThreshold 0.5
			endsection
			
			section MouseDialogNavigationTool
				rotatePlaneOffset 18.0
				rotateFactor 24.0
				scaleFactor 12.0
				spinThreshold 0.5
			endsection
			
			section WalkNavigationTool
				centerPoint (0.0, -39.37, 0.0)
				moveSpeed 200.0
				innerRadius 18.0
				outerRadius 36.0
				rotateSpeed 180.0
				innerAngle 45.0
				outerAngle 135.0
				drawMovementCircles true
			endsection
			
			section UserInterfaceTool
				useEyeRay true
				drawRay false
			endsection
			
			section MeasurementTool
				saveMeasurements true
			endsection
			
			section DefaultTools
				section MouseWidgetTool
					toolClass WidgetTool
					bindings ((Mouse, Mouse1))
				endsection
				
				section MouseScrollTool
					toolClass ScrollTool
					bindings ((Mouse, MouseWheel))
				endsection
				
				section MouseNavTool
					toolClass MouseNavigationTool
					bindings ((Mouse, Mouse1, Mouse2, LeftShift, MouseWheel))
				endsection
				
				section FPSNavTool
					toolClass FPSNavigationTool
					bindings ((Mouse, q, a, d, s, w, Space, e))
				endsection
				
				section MenuTool1
					toolClass RayMenuTool
					bindings ((Mouse, Mouse3))
				endsection
			endsection
		endsection
	endsection

endsection
