########################################################################
# Patch Vrui VR device driver daemon configuration file for HTC Vive
# or HTC Vive Pro wand controllers.
# Copyright (c) 2016-2023 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section OpenVR
	section DeviceManager
		section OpenVR
			section Controllers
				maxNumDevices 2
				
				# Define controller button and valuator layout
				buttonNames (System, Grip, Menu, Trigger, TouchpadClick, TouchpadTouch)
				valuatorNames (AnalogTrigger, TouchpadX, TouchpadY)
			endsection
			
			# Offset and rotate controllers for standardization and easier interaction
			trackerPostTransformation1 translate (0.0, -0.078, -0.037) \
			                           * rotate (1.0, 0.0, 0.0), -150.0
			trackerPostTransformation2 translate (0.0, -0.078, -0.037) \
			                           * rotate (1.0, 0.0, 0.0), -150.0
			
			# Define handle transformations for the controllers
			section Controller1
				handleTransform translate (0.0, -0.1, -0.037) \
				                * rotate (-1.0, 0.0, 0.0), 27.2155
			endsection
			
			section Controller2
				handleTransform translate (0.0, -0.1, -0.037) \
				                * rotate (-1.0, 0.0, 0.0), 27.2155
			endsection
		endsection
	endsection
endsection
