########################################################################
# Patch Vrui VR device driver daemon configuration file for Valve Index
# controllers.
# Copyright (c) 2019-2023 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section OpenVR
	section DeviceManager
		section OpenVR
			section Controllers
				maxNumDevices 2
				
				# Define controller button and valuator layout
				buttonNames (SystemClick, SystemTouch, AClick, ATouch, BClick, BTouch, TriggerClick, TriggerTouch, TrackpadTouch, GripTouch, ThumbstickClick, ThumbstickTouch)
				valuatorNames (AnalogTrigger, TrackpadX, TrackpadY, AnalogGrip, Index, Middle, Ring, Pinky, GripForce, TrackpadForce, ThumbstickX, ThumbstickY)
			endsection
			
			# Offset and rotate controllers for standardization and easier interaction
			trackerPostTransformation1 translate (0.01, -0.014, 0.02) \
			                           * rotate (-0.994483, -0.104899, 0.00016032), 115.0
			trackerPostTransformation2 translate (-0.01, -0.014, 0.02) \
			                           * rotate (-0.994483, 0.104899, 0.00016032), 115.0
			
			# Define handle transformations for the controllers
			section Controller1
				handleTransform translate (-0.0028, -0.0366, -0.0077) \
				                * rotate (-0.995559, -0.043467, 0.083499), 55.21
			endsection
			
			section Controller2
				handleTransform translate (0.0028, -0.0366, -0.0077) \
				                * rotate (-0.995559,  0.043467, -0.083499), 55.21
			endsection
		endsection
	endsection
endsection
