########################################################################
# Configuration file for the Vrui run-time environment.
# Copyright (c) 2002-2026 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui
	
	#
	# Configuration for desktop environments:
	#
	section Desktop
		environmentDefinition Environment
		inputDeviceAdapterNames (MouseAdapter)
		updateContinuously false
		viewerNames (Viewer)
		screenNames (Screen)
		windowNames (Window)
		listenerNames (Listener)
		soundContextName SoundContext
		glyphSize 0.333
		newInputDevicePosition (0.0, -1.0, 0.0)
		frontplaneDist 1.0
		backplaneDist 1000.0
		backgroundColor (0.0, 0.0, 0.0, 1.0)
		ambientLightColor (0.0625, 0.0625, 0.0625)
		useGammaCorrection true
		pixelFontName TimesBoldUpright12
		pixelFontHeight 16
		widgetMaterial { AmbientDiffuse = (0.6, 0.6, 0.6); \
		                 Specular = (0.2, 0.2, 0.2); \
		                 Shininess = 25.0; }
		drawOverlayWidgets true
		uiBgColor (0.6, 0.6, 0.6)
		uiFgColor (0.0, 0.0, 0.0)
		uiTextFieldBgColor (0.8, 0.8, 0.4)
		uiTextFieldFgColor (0.0, 0.0, 0.0)
		uiFontName TimesBoldUpright12
		uiFontTextHeight 0.15
		uiFontAntialiasing true
		animationFrameInterval 0.016667 # 1/60 second
		uiManager UIManager
		tools Tools
		vislets Vislets
		
		section Environment
			unit (Inch)
			up (0.0, 0.0, 1.0)
			forward (0.0, 1.0, 0.0)
			center (0.0, 0.0, 0.0)
			radius 13.75
			floorPlane (0.0, 0.0, 1.0), -70.0
		endsection
		
		section MouseAdapter
			inputDeviceAdapterType Mouse
			numButtons 3
			buttonKeys (Space, LeftShift, z, x, c, v, b, n, m, comma, period, slash, RightShift, \
			            a, s, d, f, g, h, j, k, l, semicolon, apostrophe, Return, \
			            Tab, q, w, e, r, t, y, u, i, o, p, bracketleft, bracketright, \
			            grave, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, minus, equal, \
			            Num0, Num1, Num2, Num3, Num4, Num5, Num6, Num7, Num8, Num9, NumEnter)
			modifierKeys (LeftCtrl, LeftAlt, LeftSuper)
			copyButtons false
			stickyButtons true
			
			# This must be set to false when running an application in the debugger:
			grabPointer true
		endsection
		
		# Viewer is currently configured to a fixed position, 24" back from
		# the center of the screen. Adjust this to your typical real viewing
		# position for optimal results.
		
		section Viewer
			headTracked false
			
			# Adjust the following translation vector to your real viewing
			# position:
			headDeviceTransformation translate (0.0, -24.0, 0.0)
			
			viewDirection (0.0, 1.0, 0.0)
			monoEyePosition (0.0, 0.0, 0.0)
			
			# Adjust the inter-pupillary distance for optimal stereoscopic
			# rendering:
			leftEyePosition (-1.25, 0.0, 0.0)
			rightEyePosition (1.25, 0.0, 0.0)
			
			headLightEnabled true
			headLightColor (1.0, 1.0, 1.0)
			headLightSpotCutoff 180.0
			headLightSpotExponent 0.0
		endsection
		
		# Screen is currently configured as 27.5" 16:9 flat panel; size will be
		# adjusted automatically during window initialization.
		
		section Screen
			deviceMounted false
			origin (-12.0, 0.0, -6.75)
			horizontalAxis (1.0, 0.0, 0.0)
			width 24.0
			verticalAxis (0.0, 0.0, 1.0)
			height 13.5
		endsection
		
		# Listener is currently configured to a fixed position, 24" back
		# from the center of the screen. Adjust this to your typical real
		# viewing position for optimal results.
		
		section Listener
			headTracked false
			
			# Adjust the following translation vector to your real viewing
			# position:
			headDeviceTransformation translate (0.0, -24.0, 0.0)
			
			headPosition (0.0, 0.0, 0.0)
			listenDirection (0.0, 1.0, 0.0)
			upDirection (0.0, 0.0, 1.0)
			gain 1.0
		endsection
		
		section Window
			viewerName Viewer
			screenName Screen
			
			# Initial window size
			windowSize (1280, 720)
			
			decorate true
			bypassCompositor true
			windowFullscreen false
			vsync true
			
			# Uncomment one of the following lines to select the window's
			# stereo mode:
			windowType Mono # No stereo
			# windowType AnaglyphicStereo # Red/blue stereo
			
			# Adjust the window's multisampling level as desired:
			multisamplingLevel 1
			
			# Set this to true to query the screen's actual size from X11:
			# If your X server is lying, disable this and manually set your
			# screen size in the Screen section.
			autoScreenSize true
			
			# The following settings simulate the window behavior of typical
			# desktop 3D software:
			panningViewport true
			# Read about the following if you use multiple monitors:
			# panningDomain (0, 0), (1920, 1080)
			navigate true
			movePrimaryWidgets true
			
			# Lock the tool kill zone to the lower-right window corner:
			toolKillZonePos (1, 0)
			
			# Show current frames per second when in "burn mode" (toggled via
			# Win+ScrollLock):
			showFps true
			showFpsFontName HelveticaMediumUpright12
		endsection
		
		section SoundContext
			listenerName Listener
			deviceName Default
			
			# Adjust OpenAL's distance attenuation model to taste:
			distanceAttenuationModel InverseClamped
			referenceDistance 200.0
			rolloffFactor 1.0
			recordingDeviceName Default
		endsection
		
		section UIManager
			type Planar
		endsection
		
		section Tools
			toolClassNames (SixDofLocatorTool, \
			                ScreenLocatorTool, \
			                WaldoLocatorTool, \
			                SixDofDraggingTool, \
			                WaldoDraggingTool, \
			                MouseSurfaceNavigationTool, \
			                FPSNavigationTool, \
			                MouseNavigationTool, \
			                MouseDialogNavigationTool, \
			                SixDofNavigationTool, \
			                ComeHitherNavigationTool, \
			                ForceJumpNavigationTool, \
			                ViewpointFileNavigationTool, \
			                MouseTool, \
			                ToggleButtonTool, \
			                ButtonToValuatorTool, \
			                ValuatorToButtonTool, \
			                OrientationSnapperTool, \
			                TwoRayTransformTool, \
			                EyeRayTool, \
			                OffsetTool, \
			                WaldoTool, \
			                ClutchTool, \
			                ShiftButtonTool, \
			                MultiShiftButtonTool, \
			                RevolverTool, \
			                PanelButtonTool, \
			                RayMenuTool, \
			                RayInputDeviceTool, \
			                ButtonInputDeviceTool, \
			                SixDofInputDeviceTool, \
			                PlaneSnapInputDeviceTool, \
			                WidgetTool, \
			                ScrollTool, \
			                QuikWriteTool, \
			                LaserpointerTool, \
			                FlashlightTool, \
			                ClipPlaneTool, \
			                MeasurementTool, \
			                SketchingTool, \
			                AnnotationTool, \
			                CurveEditorTool, \
			                ScreenshotTool, \
			                WiggleScreenshotTool, \
			                ConsoleCommandTool, \
			                NopTool)
			toolSelectionMenuToolClass RayMenuTool
			killZoneType Frustum
			killZoneViewerName Viewer
			killZoneScreenName Screen
			killZoneCenter (11.7, 0.0, -6.6)
			killZoneSize (0.6, 0.3, 0.0)
			killZoneRender true
			killZoneMaterial { AmbientDiffuse = (1.0, 0.0, 0.0); \
			                   Specular = (0.0, 0.0, 0.0); \
			                   Shininess = 0.0; }
			defaultTools DefaultTools
			
			section UserInterfaceTool
				useEyeRay true
			endsection
			
			section MeasurementTool
				saveMeasurements true
			endsection
			
			section DefaultTools
				section MouseGuiTool
					toolClass WidgetTool
					bindings ((Mouse, Mouse1))
				endsection
				
				section MouseScrollTool
					toolClass ScrollTool
					bindings ((Mouse, MouseWheelUp, MouseWheelDown))
				endsection
				
				section MouseNavTool
					toolClass MouseNavigationTool
					bindings ((Mouse, Mouse1, Mouse2, LeftShift, MouseWheelUp, MouseWheelDown))
				endsection
				
				section FPSNavTool
					toolClass FPSNavigationTool
					bindings ((Mouse, q, a, d, s, w, Space))
				endsection
				
				section MenuTool
					toolClass RayMenuTool
					bindings ((Mouse, Mouse3))
				endsection
			endsection
		endsection
	endsection
	# End of Desktop configuration
	
	#
	# Configuration for several head-mounted displays supported by OpenVR / Lighthouse tracking
	#
	section OpenVR
		inhibitScreenSaver true
		inputDeviceAdapterNames (DeviceDaemonAdapter)
		updateContinuously true
		viewerNames (HMDViewer)
		screenNames (HMDLeftScreen, HMDRightScreen)
		windowNames (HMDWindow)
		syncWindowName HMDWindow
		listenerNames (HMDListener)
		soundContextName SoundContext
		glyphSize 0.03
		screenProtectorGridSpacing 0.5
		screenProtectorDevices (("HMD", (0.0, 0.0, 0.0), 0.75), \
		                        ("Controller1", (0.0, 0.0, 0.0), 0.5), \
		                        ("Controller2", (0.0, 0.0, 0.0), 0.5))
		frontplaneDist 0.1
		backplaneDist 5000.0
		backgroundColor (0.0, 0.0, 0.0, 1.0)
		ambientLightColor (0.0625, 0.0625, 0.0625)
		useGammaCorrection true
		pixelFontName TimesBoldUpright12
		pixelFontHeight 16
		widgetMaterial { AmbientDiffuse = (0.6, 0.6, 0.6); \
		                 Specular = (0.2, 0.2, 0.2); \
		                 Shininess = 25.0; }
		drawOverlayWidgets false
		uiBgColor (0.6, 0.6, 0.6)
		uiFgColor (0.0, 0.0, 0.0)
		uiTextFieldBgColor (0.8, 0.8, 0.4)
		uiTextFieldFgColor (0.0, 0.0, 0.0)
		uiFontName TimesBoldUpright12
		uiFontTextHeight 0.015
		uiFontAntialiasing true
		animationFrameInterval 0.01111
		uiManager UIManager
		textEntryMethod Quikwriting
		tools Tools
		vislets Vislets
		
		section DeviceDaemonAdapter
			inputDeviceAdapterType DeviceDaemon
			
			# Connect to the server via a UNIX domain socket to read device data via a shared memory segment
			serverSocketName VRDeviceDaemon.socket
			serverSocketAbstract true
			
			inputDeviceNames (HMD, Controller1, Controller2)
			
			section Controller1
				deviceGlyphType Cone
			endsection
			
			section Controller2
				deviceGlyphType Cone
			endsection
		endsection
		
		section HMDViewer
			headTracked true
			headDevice HMD
			viewDirection (0.0, 0.0, -1.0)
			upDirection (0.0, 1.0, 0.0)
			monoEyePosition (0.0, 0.0, 0.015)
			leftEyePosition (-0.03175, 0.0, 0.015)
			rightEyePosition (0.03175, 0.0, 0.015)
			headLightEnabled true
			headLightColor (1.0, 1.0, 1.0)
			headLightSpotCutoff 180.0
			headLightSpotExponent 0.0
		endsection
		
		section HMDLeftScreen
			deviceMounted true
			deviceName HMD
			
			# Bogus values; will be replaced with proper values from device driver
			origin (-0.1, -0.05, -0.025)
			width 0.1
			height 0.1
			horizontalAxis (1.0, 0.0, 0.0)
			verticalAxis (0.0, 1.0, 0.0)
		endsection
		
		section HMDRightScreen
			deviceMounted true
			deviceName HMD
			
			# Bogus values; will be replaced with proper values from device driver
			origin (0.0, -0.05, -0.025)
			width 0.1
			height 0.1
			horizontalAxis (1.0, 0.0, 0.0)
			verticalAxis (0.0, 1.0, 0.0)
		endsection
		
		section HMDWindow
			windowType CompositorClient
			windowSize (800, 800)
			leftScreenName HMDLeftScreen
			rightScreenName HMDRightScreen
			viewerName HMDViewer
			enableButtonDevice HMD
			enableButton FaceDetector
			# multisamplingLevel 16
			
			# Mirror the pre-distortion HMD view to the window:
			mirrorHmd true
			mirrorEyeIndex 1
			mirrorFov 90.0
			mirrorFollowAzimuth true
			mirrorFollowElevation true
		endsection
		
		section HMDListener
			headTracked true
			headDevice HMD
			headPosition (0.0, 0.0, 0.115)
			listenDirection (0.0, 0.0, -1.0)
			upDirection (0.0, 1.0, 0.0)
		endsection
		
		section SoundContext
			listenerName HMDListener
			mixerFrequency 48000
			distanceAttenuationModel InverseClamped
			referenceDistance 5.0
			rolloffFactor 1.0
			useHrtf true
		endsection
		
		section UIManager
			type Free
			# alignUiWithPointer false
		endsection
		
		section Tools
			toolClassNames (SixDofLocatorTool, \
			                WaldoLocatorTool, \
			                SixDofDraggingTool, \
			                WaldoDraggingTool, \
			                WalkSurfaceNavigationTool, \
			                ValuatorWalkSurfaceNavigationTool, \
			                SixDofNavigationTool, \
			                ScaleNavigationTool, \
			                WandNavigationTool, \
			                TwoHandedNavigationTool, \
			                ValuatorFlyTurnNavigationTool, \
			                WalkNavigationTool, \
			                ComeHitherNavigationTool, \
			                ForceJumpNavigationTool, \
			                ViewpointFileNavigationTool, \
			                ToggleButtonTool, \
			                ButtonToValuatorTool, \
			                ValuatorToButtonTool, \
			                OrientationSnapperTool, \
			                EyeRayTool, \
			                OffsetTool, \
			                WaldoTool, \
			                ClutchTool, \
			                ShiftButtonTool, \
			                MultiShiftButtonTool, \
			                RevolverTool, \
			                PanelButtonTool, \
			                RayMenuTool, \
			                SixDofInputDeviceTool, \
			                PlaneSnapInputDeviceTool, \
			                WidgetTool, \
			                ScrollTool, \
			                QuikWriteTool, \
			                LaserpointerTool, \
			                FlashlightTool, \
			                ClipPlaneTool, \
			                JediTool, \
			                MeasurementTool, \
			                SketchingTool, \
			                AnnotationTool, \
			                CurveEditorTool, \
			                ScreenshotTool, \
			                ConsoleCommandTool, \
			                NopTool)
			toolSelectionMenuToolClass RayMenuTool
			killZoneType Box
			killZoneBaseDevice HMD
			killZoneCenter (0.0, 0.0, 0.3)
			killZoneSize (0.2, 0.2, 0.2)
			killZoneRender false
			killZoneMaterial { AmbientDiffuse = (1.0, 0.0, 0.0); \
			                   Specular = (0.0, 0.0, 0.0); \
			                   Shininess = 0.0; }
			
			section WalkSurfaceNavigationTool
				moveSpeed 4.0
				innerRadius 0.5
				outerRadius 1.0
				rotateSpeed 0.0
				innerAngle 22.5
				outerAngle 45.0
				drawMovementCircles true
				hudFontSize 0.025
			endsection
			
			section ValuatorWalkSurfaceNavigationTool
				moveSpeed 4.0
				valuatorMoveSpeed (4.0, 4.0)
				innerRadius 0.5
				outerRadius 1.0
				rotateSpeed 0.0
				innerAngle 22.5
				outerAngle 45.0
				drawMovementCircles true
				hudRadius 4.0
				hudFontSize 0.025
			endsection
			
			section WalkNavigationTool
				moveSpeed 4.0
				innerRadius 0.5
				outerRadius 1.0
				rotateSpeed 0.0
				innerAngle 22.5
				outerAngle 45.0
				drawMovementCircles true
			endsection
			
			section ValuatorFlyTurnNavigationTool
				valuatorExponent 2.0
				flyFactor 8.0
				rotationAxisDeviceCoordinates false
				rotationAxis (0.0, 1.0, 0.0)
				rotationCenterDeviceCoordinates true
				rotationCenter (0.0, 0.0, 0.0)
			endsection
			
			section UserInterfaceTool
				useEyeRay false
				drawRay true
			endsection
		endsection
		
		section Vislets
			section ViewerConfiguration
				unitName mm
				unitScale 1.0
				# oculusRiftViewerNames (HMDViewer)
				
				section HMDViewer
					viewerName HMDViewer
					leftScreenName HMDLeftScreen
					rightScreenName HMDRightScreen
					lensDist 63.5
				endsection
			endsection
		endsection
	endsection
	# End of OpenVR configuration
	
endsection
